<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_2NQ9y2baIdFgaIBkfNLpVAbVuqz994M</string>
	<key>GCM_SENDER_ID</key>
	<string>167673247748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leoThapTuVung</string>
	<key>PROJECT_ID</key>
	<string>leothaptuvung</string>
	<key>STORAGE_BUCKET</key>
	<string>leothaptuvung.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167673247748:ios:1b972547aa123d04ef5d51</string>
</dict>
</plist>